<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     {% extends "base.html" %}
    {% block content %}
      {% csrf_token %}

    <div class="page_header">
    <h2>Minhas Contas</h2>
    </div>
    <a class="btn btn-primary" href="/">Voltar</a>
    <a class="btn btn-primary" href="/contas/criar/">Adicionar Conta</a>


    <table>
        <table class="table">
        <thead>
            <tr>
                <th>Conta</th>
                <th>Data de criação</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for item in latest %}

        <tr>
            <td>
            <a href="/contas/{{ item.pk }}">{{ item.tipo_conta }}</a></td>
            <td>{{ item.data_de_criacao|date:"d/m/Y H:i" }}</td>
            <td>{% if item.status %}Fechada{% else %}Aberta{% endif %}
            </td>
        </tr>

        {% endfor %}
        </tbody>
        </table>
    </table>
    {% endblock %}
</body>
</html>